@font-face {
  font-family: 'fontello';
  src: url("icons.svg?78134293#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'fontello';
    src: url("icons.svg?78134293#fontello") format("svg"); } }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */ }

.icon-github:before {
  content: '\e800'; }

.icon-spinner:before {
  content: '\e801'; }

.icon-star:before {
  content: '\e802'; }

.icon-star-empty:before {
  content: '\e803'; }

.icon-play:before {
  content: '\e804'; }

.icon-twitter:before {
  content: '\e805'; }

.icon-pause:before {
  content: '\e806'; }

.icon-volume:before {
  content: '\e80a'; }

.icon-cancel:before {
  content: '\e80c'; }

.icon-ok:before {
  content: '\e80d'; }

.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }

  75% {
    transform: translate3d(0, -10px, 0); }

  90% {
    transform: translate3d(0, 5px, 0); }

  100% {
    transform: none; } }
.bounceInDown {
  -webkit-animation-name: bounceInDown; }

@-webkit-keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }

  100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.bounceOutUp {
  -webkit-animation-name: bounceOutUp; }

@-webkit-keyframes coneBounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: linear; }

  0% {
    transform: translateZ(100px); }

  25% {
    transform: translateZ(0px); }

  45% {
    transform: translateZ(8px); }

  66% {
    transform: translateZ(0px); }

  90% {
    transform: translateZ(2px); }

  100% {
    transform: none; } }
.cone.cone-fall::after {
  bottom: 0;
  width: 10px;
  border-width: 20px 5px 0; }
.cone.cone-fall .cone-animate {
  -webkit-animation-name: coneFall; }
.cone.cone-fall .cone-animate.fall2 {
  -webkit-animation-name: coneFall2; }
.cone.cone-fall .cone-animate.fall3 {
  -webkit-animation-name: coneFall3; }

@-webkit-keyframes coneFall {
  0% {
    transition-timing-function: linear;
    transform: rotateX(0deg); }

  50% {
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.58, 0.78);
    transform: rotateX(90deg) rotateY(120deg) translateZ(0) translateY(80px); }

  100% {
    transform: rotateX(90deg) rotateY(150deg) translateX(0px) translateZ(0) translateY(0px); } }
@-webkit-keyframes coneFall2 {
  0% {
    transition-timing-function: linear;
    transform: rotateX(0deg); }

  50% {
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.58, 0.78);
    transform: rotateX(90deg) rotateY(-100deg) translateZ(0) translateY(90px); }

  100% {
    transform: rotateX(90deg) rotateY(-120deg) translateX(0px) translateZ(0) translateY(0px); } }
@-webkit-keyframes coneFall3 {
  0% {
    transition-timing-function: linear;
    transform: rotateX(0deg); }

  50% {
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.58, 0.78);
    transform: rotateX(90deg) rotateY(-50deg) translateZ(0) translateY(60px); }

  100% {
    transform: rotateX(90deg) rotateY(-80deg) translateX(0px) translateZ(0) translateY(0px); } }
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, #757f9a 0%, #d7dde8 100%);
  overflow: hidden;
  font-family: "Futura", "Helvetica Nueue", sans-serif;
  color: #fff; }

.btn {
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
  border: solid 1px #FFFFFF;
  color: #fff; }
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .btn:active {
    background-color: rgba(255, 255, 255, 0.2); }
  .btn:focus {
    outline: 0;
    border: solid 1px #3cd3ad;
    box-shadow: 0 0 0 2px #3cd3ad; }

.game-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 800px; }

#game-canvas {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d; }

.game-camera * {
  position: absolute;
  top: 0;
  left: 0;
  display: block; }

.game-camera {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
  transform: rotateX(75deg) rotateZ(0deg) translateX(140px) translateY(0) translateZ(-275px);
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden; }
  .game-camera * {
    position: absolute;
    top: 0;
    left: 0;
    display: block; }

.game-paused .car-animate,
.game-paused .cone-animate {
  -webkit-animation-play-state: paused; }

.shadow {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d; }

.car-animate {
  transform-style: preserve-3d;
  width: 33px;
  height: 33px;
  transform-origin: 50% 0;
  -webkit-animation-name: carRunning;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running; }

@-webkit-keyframes carRunning {
  0% {
    transform: scale3d(1, 1, 0.95); }

  100% {
    transform: scale3d(1, 1, 1); } }
.car {
  width: 33px;
  height: 33px;
  transform-style: preserve-3d; }
  .car .body {
    transform-style: preserve-3d;
    width: 100%;
    height: 100px; }
  .car .body-bottom {
    transform: translateY(27px) translateZ(8px);
    background-color: #AD9A9A;
    height: 44px; }
  .car .body-top {
    transform: translateX(2px) translateY(48px) translateZ(39px);
    height: 28px;
    width: 29px;
    background-color: #b3e7ac; }
  .car .body-front-windshield {
    transform-origin: 0 0;
    transform: translateY(34px) translateZ(25px) rotateX(45deg);
    height: 20px; }
  .car .body-hood {
    transform: translateZ(23px) rotateX(6deg);
    height: 34px;
    background-color: #96de8c; }
  .car .body-front {
    transform: translateY(-3.4px) translateZ(17.5px) rotateX(90deg);
    height: 8px;
    background-color: #72d265; }
  .car .body-back {
    transform: translateY(93.8px) translateZ(19px) rotateX(90deg);
    height: 11px;
    background-color: #9de094; }
    .car .body-back::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      top: auto;
      bottom: 0;
      width: 100%;
      height: 40%;
      background-color: #aaaaaa; }
  .car .body-back-windshield {
    transform-origin: 0 0;
    transform: translateY(74px) translateZ(39px) rotateX(-31deg);
    height: 29px; }
  .car .body-left,
  .car .body-right,
  .car .body-left-top,
  .car .body-right-top {
    transform-origin: 0 0;
    width: 33px;
    height: 100px;
    background-color: transparent;
    background-image: url(pinto.svg);
    background-size: 33px; }
  .car .body-left {
    width: 17px;
    transform: translateX(0) translateZ(8px) rotateY(-90deg); }
  .car .body-left-top {
    width: 15px;
    transform: translateX(0) translateZ(25px) rotateY(-80deg);
    background-position: right 0; }
  .car .body-right {
    width: 17px;
    transform: translateX(33px) translateZ(8px) rotateY(-90deg); }
  .car .body-right-top {
    width: 15px;
    transform: translateX(33px) translateZ(25px) rotateY(-100deg);
    background-position: right 0; }

.rim::before, .rim::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 200px;
  background-color: #aaaaaa;
  width: 10px;
  height: 10px;
  transform: rotateY(90deg) translateY(-5px) translateZ(-0.5px); }
.rim::after {
  transform: rotateY(90deg) translateY(-5px) translateZ(6.5px); }

.wheel {
  transform-style: preserve-3d; }
  .wheel::before, .wheel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 200px;
    background-color: #666666;
    width: 16px;
    height: 16px;
    transform: rotateY(90deg) translateY(-8px) translateZ(0px); }
  .wheel::after {
    transform: rotateY(90deg) translateY(-8px) translateZ(2px); }
  .wheel .f {
    transform-style: preserve-3d; }
    .wheel .f::before, .wheel .f::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      transform-style: preserve-3d;
      top: -3px;
      background-color: #5e5e5e;
      width: 6px;
      height: 6px; }
  .wheel .f1 {
    transform: translateX(5px) rotateX(0deg); }
    .wheel .f1::before {
      transform: translateZ(8px); }
    .wheel .f1::after {
      transform: translateZ(-8px); }
  .wheel .f2 {
    transform: translateX(5px) rotateX(30deg); }
    .wheel .f2::before {
      transform: translateZ(8px); }
    .wheel .f2::after {
      transform: translateZ(-8px); }
  .wheel .f3 {
    transform: translateX(5px) rotateX(60deg); }
    .wheel .f3::before {
      transform: translateZ(8px); }
    .wheel .f3::after {
      transform: translateZ(-8px); }
  .wheel .f4 {
    transform: translateX(5px) rotateX(90deg); }
    .wheel .f4::before {
      transform: translateZ(8px); }
    .wheel .f4::after {
      transform: translateZ(-8px); }
  .wheel .f5 {
    transform: translateX(5px) rotateX(120deg); }
    .wheel .f5::before {
      transform: translateZ(8px); }
    .wheel .f5::after {
      transform: translateZ(-8px); }
  .wheel .f6 {
    transform: translateX(5px) rotateX(150deg); }
    .wheel .f6::before {
      transform: translateZ(8px); }
    .wheel .f6::after {
      transform: translateZ(-8px); }

.wheel-f-l {
  transform: translateX(10px) translateY(18px) translateZ(8px) rotateY(180deg); }

.wheel-f-r {
  transform: translateX(23px) translateY(18px) translateZ(8px); }

.wheel-r-l {
  transform: translateX(10px) translateY(79px) translateZ(8px) rotateY(180deg); }

.wheel-r-r {
  transform: translateX(23px) translateY(79px) translateZ(8px); }

@-webkit-keyframes spinZ {
  0% {
    transform: translateX(200px) translateY(5700px) translateZ(10px) rotateZ(0deg); }

  100% {
    transform: translateX(200px) translateY(5700px) translateZ(10px) rotateZ(360deg); } }
.cone-animate {
  transform-style: preserve-3d;
  -webkit-animation-duration: .7s;
  -webkit-animation-fill-mode: forwards; }

.cone-base {
  width: 20px;
  height: 20px;
  background-color: #e4b130; }

.cone {
  transform-style: preserve-3d;
  width: 20px;
  height: 20px; }
  .cone::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent;
    transition: .2s; }
  .cone .cone-transform {
    transform-style: preserve-3d;
    width: 0;
    height: 0;
    transform-origin: 0% 0;
    transform: rotateX(90deg) translate3d(4px, 0px, -10px); }
  .cone .f {
    transform-origin: 50% 50%;
    transform-style: preserve-3d; }
    .cone .f::before, .cone .f::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      transform-origin: 50% 100%;
      transform-style: preserve-3d;
      border-style: solid;
      border-width: 30px 6px 0 6px;
      width: 0;
      height: 0; }
    .cone .f::before {
      border-color: #be8f19 transparent transparent;
      transform: rotateX(11deg) rotateY(180deg) rotateZ(0deg) translateZ(0px); }
    .cone .f::after {
      border-color: #d9a41c transparent transparent;
      transform: rotateX(-11deg) rotateY(0deg) rotateZ(0deg) translateZ(0px); }
  .cone .f1 {
    transform: rotateY(0deg) rotateY(0); }
  .cone .f2 {
    transform: rotateY(0deg) rotateY(90deg) translate3d(-6px, 0px, 6px); }

.cone-red .cone-base {
  background-color: #e7626c; }
.cone-red .f::before, .cone-red .f::after {
  border-color: #df2d3a transparent transparent; }

.cone-blue .cone-base {
  background-color: #169ef8; }
.cone-blue .f::before, .cone-blue .f::after {
  border-color: #067ccb transparent transparent; }

.cone-gold .cone-base {
  background-color: #e4b130; }
.cone-gold .f::before, .cone-gold .f::after {
  border-color: #be8f19 transparent transparent; }

.cone-green .cone-base {
  background-color: #abc78d; }
.cone-green .f::before, .cone-green .f::after {
  border-color: #8db364 transparent transparent; }

.level {
  width: 800px;
  height: 2400px;
  transform-style: preserve-3d; }

.road {
  width: 800px;
  height: 2562px;
  background: linear-gradient(rgba(242, 242, 242, 0.3) 2px, transparent 2px) -2px, linear-gradient(90deg, rgba(242, 242, 242, 0.3) 2px, transparent 2px)-2px 0;
  background-color: transparent;
  background-size: 162px 162px, 162px 162px, 162px 162px, 162px 162px;
  transform: translateY(0px);
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; }

.hud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 3%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: right; }

.views {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.title-view {
  white-space: nowrap; }

h1 {
  font-weight: 600;
  text-transform: uppercase;
  border: solid 1px #fff;
  display: inline-block;
  padding: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5); }
