$level_width: 700px;
$level_height: 3000px;

$road_color: darken(#B9C1C5,40%);
$road_grid_line_width: 2px;
$road_grid_size: 120px;

$default_camera_view:
  rotateX(75deg) rotateZ(0deg) translateX(140px) translateY(1000px - $level_height) translateZ(-275px);
  // rotateX(75deg) rotateZ(0deg) translateX(269px) translateY(-4907px) translateZ(-205px); // close up

body {
  padding: 0;
  margin: 0;
  background-color: $road_color;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.hud {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: right;
}
.game-container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  border: solid 1px #999;
  overflow: hidden;
}

#game-canvas {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  perspective: 1200px;
  perspective-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}



.game-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
  transform: $default_camera_view;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;

  * {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }
}
.game-paused {
  .car-transform {
    -webkit-animation-play-state: paused;
  }
}

$rim_color: #aaa;
$rim_size: 10px;
$wheel_color: #666;
$wheel_diameter: 16px;
$wheel_width: 6px;
$wheel_radius: $wheel_diameter / 2;

$car_width: 33px;
$car_height: 33px;
$car_depth: 100px;
$car_color: #B3E7AC;
$car_chrome_color: #aaa;

.shadow {
  background-color: rgba(0,0,0,.2);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.car-transform {
  transform-style: preserve-3d;
  width: $car_width;
  height: $car_height;
  transform-origin: 50% 0;

  -webkit-animation-name: carRunning;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

@-webkit-keyframes carRunning {
  0% {
    transform: scale3d(1,1,.95);
  }
  100% {
    transform: scale3d(1,1,1);
  }
}

.car {
  width: $car_width;
  height: $car_height;
  transform-style: preserve-3d;

  // -webkit-animation-name: spinZ;
  // -webkit-animation-duration: 16s;
  // -webkit-animation-iteration-count: infinite;
  // -webkit-animation-timing-function: linear;

  .body {
    transform-style: preserve-3d;
    width: 100%;
    height: $car_depth;
  }

  .body-bottom {
    transform: translateY(27px) translateZ(8px);
    background-color: #AD9A9A;
    height: 44px;
  }
  .body-top {
    transform: translateX(2px) translateY(48px) translateZ(39px);
    height: 28px;
    width: 29px;
    background-color: $car_color;
  }
  .body-front-windshield {
    transform-origin: 0 0;
    transform: translateY(34px) translateZ(25px) rotateX(45deg);
    height: 20px;
    background-image: url(pinto-front-windshield.svg);
  }
  .body-hood {
    transform: translateZ(23px) rotateX(6deg);
    height: 34px;
    background-color: darken($car_color,8%);
  }
  .body-front {
    transform: translateY(-3.4px) translateZ(17.5px) rotateX(90deg);
    height: 8px;
    background-color: darken($car_color,18%);
  }

  .body-back {
    transform: translateY(93.8px) translateZ(19px) rotateX(90deg);
    height: 11px;
    background-color: darken($car_color,6%);

    &::before {
      top: auto;
      bottom: 0;
      width: 100%;
      height: 40%;
      background-color: $car_chrome_color;
    }
  }
  .body-back-windshield {
    transform-origin: 0 0;
    transform: translateY(74px) translateZ(39px) rotateX(-31deg);
    height: 29px;
    background-image: url(pinto-back-windshield.svg);
  }
  .body-left,
  .body-right,
  .body-left-top,
  .body-right-top {
    transform-origin: 0 0;
    width: $car_height;
    height: $car_depth;
    background-color: transparent;
    background-image: url(pinto.svg);
    background-size: $car_height;
  }
  .body-left {
    width: 17px;
    transform: translateX(0) translateZ($wheel_radius) rotateY(-90deg);
  }
  .body-left-top {
    width: 15px;
    transform:  translateX(0) translateZ(25px) rotateY(-80deg);
    background-position: right 0;
  }

  .body-right {
    width: 17px;
    transform: translateX($car_height) translateZ($wheel_radius) rotateY(-90deg);
  }
  .body-right-top {
    width: 15px;
    transform:  translateX($car_height) translateZ(25px) rotateY(-100deg);
    background-position: right 0;
  }
}


.rim {
  &::before,
  &::after {
    border-radius: 200px;
    background-color: $rim_color;
    width: $rim_size;
    height: $rim_size;
    transform: rotateY(90deg) translateY(-$rim_size/2) translateZ(-0.5px);

  }
  &::after {
    transform: rotateY(90deg) translateY(-$rim_size/2) translateZ($wheel_width + 0.5px);
  }
}
.wheel {
  transform-style: preserve-3d;
  &::before,
  &::after {
    border-radius: 200px;
    background-color: $wheel_color;
    width: $wheel_diameter;
    height: $wheel_diameter;
    transform: rotateY(90deg) translateY(-$wheel_radius) translateZ(0px);
  }
  &::after {
    transform: rotateY(90deg) translateY(-$wheel_radius) translateZ($wheel_width - $wheel_radius/2);
  }
  .f {
    transform-style: preserve-3d;
    &::before,
    &::after {
      transform-style: preserve-3d;
      top: -3px;
      background-color: darken($wheel_color,3%);
      width: $wheel_width;
      height: 6px;
    }
  }
  .f1 {
    transform: translateX($rim_size/2) rotateX(360deg * 0/12);
    &::before {
      transform: translateZ($wheel_radius);
    }
    &::after {
      transform: translateZ(-$wheel_radius);
    }
  }
  .f2 {
    transform: translateX($rim_size/2) rotateX(360deg * 1/12);
    &::before {
      transform: translateZ($wheel_radius);
    }
    &::after {
      transform: translateZ(-$wheel_radius);
    }
  }
  .f3 {
    transform: translateX($rim_size/2) rotateX(360deg * 2/12);
    &::before {
      transform: translateZ($wheel_radius);
    }
    &::after {
      transform: translateZ(-$wheel_radius);
    }
  }
  .f4 {
    transform: translateX($rim_size/2) rotateX(360deg * 3/12);
    &::before {
      transform: translateZ($wheel_radius);
    }
    &::after {
      transform: translateZ(-$wheel_radius);
    }
  }
  .f5 {
    transform: translateX($rim_size/2) rotateX(360deg * 4/12);
    &::before {
      transform: translateZ($wheel_radius);
    }
    &::after {
      transform: translateZ(-$wheel_radius);
    }
  }
  .f6 {
    transform: translateX($rim_size/2) rotateX(360deg * 5/12);
    &::before {
      transform: translateZ($wheel_radius);
    }
    &::after {
      transform: translateZ(-$wheel_radius);
    }
  }
}
.wheel-f-l {
  transform: translateX($wheel_width + $wheel_radius/2) translateY(18px) translateZ(8px) rotateY(180deg);
}
.wheel-f-r {
  transform: translateX($car_width - $wheel_width - $wheel_radius/2) translateY(18px) translateZ(8px);
}
.wheel-r-l {
  transform: translateX($wheel_width + $wheel_radius/2) translateY(79px) translateZ(8px) rotateY(180deg);
}
.wheel-r-r {
  transform: translateX($car_width - $wheel_width - $wheel_radius/2) translateY(79px) translateZ(8px);
}


@-webkit-keyframes spinZ {
  0% {
    transform: translateX(200px) translateY(5700px) translateZ(10px) rotateZ(0deg);
  }
  100% {
    transform: translateX(200px) translateY(5700px) translateZ(10px) rotateZ(360deg);
  }
}


.level {
  width: $level_width;
  height: $level_height;
  transform-style: preserve-3d;
}

.road {
  width: $level_width;
  height: $level_height+$road_grid_size;

  background:
    linear-gradient(darken($road_color,5%) $road_grid_line_width, transparent $road_grid_line_width) 0 -$road_grid_line_width,
    linear-gradient(90deg, darken($road_color,5%) $road_grid_line_width, transparent $road_grid_line_width) -$road_grid_line_width 0;
  background-color: $road_color;
  background-size: $road_grid_size $road_grid_size, $road_grid_size $road_grid_size, $road_grid_size $road_grid_size, $road_grid_size $road_grid_size;

  transform: translateY(0px);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
